*{
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
  font-family: lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: noto;
  src: url(../fonts/Noto_Serif/NotoSerif-Regular.ttf);
}

html,body{height: 100%;}

body{
  background-color: #fff;
}

#clr{clear: both;}

#nav{
  float: left;
  width: calc(20% - 1px);
  border-right: 1px solid   #7A1827;
  height: 100%;
  color: #7A1827;
  font-family: lato;
}

#navcontent{
  width: calc(100% - 20px);
  height: 600px;
  padding: 0 10px 0 10px;
  position: relative;
  left: 0;
  top: calc(50% - 300px);
  text-align: center;
}

#pic{
  margin: auto;
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/me.jpeg);
}

#name{
  font-size: 40px;
}

#list{
  padding: 35px 0 20px 0; 
  font-size: 16px;
}

#listitem{
  padding: 8px 0px 5px 0px;
  width: 188px;
  margin: auto;
}

#menuitem{
  float: left;
  width: 160px;
}

#icon{
  float: left;
}

#nav a{
  color: #7A1827;
}

#nav a:visited{
  color: #7A1827;
}





#content{
  float: left;
  width: 78%;
  height: 100%;
  padding: 0 1% 0 1%;
}

#socorro{
  width: 100%;
  height: 300px;
  background-color: #7A1827;
}