* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.clear {
    clear: both;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

nav {
    padding: 5px 30px;
    font-size: 16px;
    background-color: red;
}

.menuOptions {
    margin: auto;
    width: 475px;
}

.navButton {
    float: left;
    width: 85px;
    padding: 3px 0px;
    margin: 3px 5px;
    text-align: center;
}

.navButton:hover {
    border-bottom: 2px solid;
}

.activeNavButton {
    border-bottom: 2px solid;
    font-weight: 400;
}

main {
    width: 720px;
    margin: auto;
}

h1 {
    padding: 60px 0 20px 0;
    font-weight: 600;
}

p {
    margin-bottom: 8px;
}