@font-face {
    font-family: "Work Sans";
    src: url(fonts/WorkSans/WorkSans-Regular.ttf);
}

@font-face {
    font-family: "Work Sans Medium";
    src: url(fonts/WorkSans/WorkSans-Medium.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

*:visited {
    color: #000;
    color: #fafafa;
}

*:link {
    color: #000;
    color: #fafafa;
}

.clear {
    clear: both;
}

body {
    background-color: #fafafa;
    color: #000;
    font-family: "Work Sans";
}

nav {
    padding: 5px 30px;
    font-size: 16px;
    font-family: "Work Sans Medium";
    background-color: #fafafa;
}

.menuOptions {
    margin: auto;
    width: 475px;
}

.navButton {
    float: left;
    width: 85px;
    padding: 6px 0px;
    margin: 5px 5px;
    text-align: center;
    color: #4a4952;
}

.navButton:hover {
    border-bottom: 2px solid;
}

.activeNavButton {
    color: #310069;
    border-bottom: #310069 2px solid;
}

main {
    width: 720px;
    margin: auto;
}

h1 {
    padding: 40px 0 20px 0;
}

p {
    margin-bottom: 8px;
}