*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background: #293542;
}

button{
    position: absolute;
    top: calc(85% - 91px);
    left: calc(50% - 190px);
    padding: 30px;
    background: #fafafa;
    color: #293542;
    width: 380px;
    font-size: 26px;
    text-align: center;
}

#champ{
    margin-top: 150px;
    padding: 15px;
    font-size: 32px;
    text-align: center;
    color: #fafafa;
}